html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.wrapper {
  min-width: 100%;
  min-height: 100%;
  background: #f7f7f7;
}

.common-container {
  background: #ffffff;
  max-width: 1010px;
  margin: 0 auto;
}

.search-container {
  width: 100%;
  padding: 30px 30px 10px 30px;
}

.pagination-container {
  width: 100%;
  margin-top: 22px;
  text-align: center;
  padding-bottom: 14px;
}
